noderedflow/flow2.txt
[{"id":"da494e70.25b6b","type":"mqtt-broker","broker":"pt3qzy.messaging.internetofthings.ibmcloud.com","port":"1883","clientid":"a:pt3qzy:nodered"},{"id":"d91eed6.f26e11","type":"mqtt-broker","broker":"192.84.45.43","port":"1883","clientid":""},{"id":"6427582.f9bd8a8","type":"ibmiot","name":"joykkh"},{"id":"3a361f78.c5c9e","type":"ibmiot out","authentication":"boundService","apiKey":"6427582.f9bd8a8","outputType":"cmd","deviceId":"turbo","deviceType":"sphero","eventCommandType":"setColor","format":"json","data":"_____","name":"sphero setColor","service":"registered","x":682,"y":185,"z":"24f2588c.db0da8","wires":[]},{"id":"d15e9a2b.2ea168","type":"function","name":"build setColor command","func":"msg.payload = JSON.stringify({\n\td: {\n\t\tr: msg.data.r,\n\t\tg: msg.data.g,\n\t\tb: msg.data.b\n\t}\n})\nreturn msg;","outputs":1,"x":464,"y":180,"z":"24f2588c.db0da8","wires":[["3a361f78.c5c9e"]]},{"id":"ba677d63.45988","type":"inject","name":"blue","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128,"y":157,"z":"24f2588c.db0da8","wires":[["52965bb.fad69a4"]]},{"id":"7bdb7492.84248c","type":"function","name":"build setRoll command","func":"var data = { velocity: 0.4 }\nmsg.payload = JSON.stringify({\n\td: {\n\t\theading: 75,\n\t\tvelocity: data.velocity\n\t}\n});\nreturn msg;","outputs":1,"x":464,"y":112,"z":"24f2588c.db0da8","wires":[["4d62369d.b29dc8"]]},{"id":"4d62369d.b29dc8","type":"ibmiot out","authentication":"boundService","apiKey":"6427582.f9bd8a8","outputType":"cmd","deviceId":"turbo","deviceType":"sphero","eventCommandType":"setRoll","format":"json","data":"_____","name":"sphero setRoll","service":"registered","x":685,"y":81,"z":"24f2588c.db0da8","wires":[]},{"id":"2e2ff827.d1d008","type":"inject","name":"roll","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128,"y":110,"z":"24f2588c.db0da8","wires":[["7bdb7492.84248c"]]},{"id":"c77cd6cd.388328","type":"inject","name":"stop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":62,"z":"24f2588c.db0da8","wires":[["abfcf610.540308"]]},{"id":"abfcf610.540308","type":"function","name":"build stop command","func":"var data = { velocity: 0.0 }\nmsg.payload = JSON.stringify({\n\td: {\n\t\theading: 75,\n\t\tvelocity: data.velocity\n\t}\n});\nreturn msg;","outputs":1,"x":454,"y":63,"z":"24f2588c.db0da8","wires":[["4d62369d.b29dc8"]]},{"id":"52965bb.fad69a4","type":"function","name":"blue","func":"msg.data = { r: 0, g: 0, b: 255 }\nreturn msg;","outputs":1,"x":258,"y":157,"z":"24f2588c.db0da8","wires":[["d15e9a2b.2ea168"]]},{"id":"9cef7481.631088","type":"inject","name":"green","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":128,"y":204,"z":"24f2588c.db0da8","wires":[["ca1d924c.35e27"]]},{"id":"ca1d924c.35e27","type":"function","name":"green","func":"msg.data = { r: 0, g: 255, b: 0 }\nreturn msg;","outputs":1,"x":258,"y":204,"z":"24f2588c.db0da8","wires":[["d15e9a2b.2ea168"]]},{"id":"f1a202e4.0e5e","type":"ibmiot in","authentication":"boundService","apiKey":"6427582.f9bd8a8","inputType":"evt","deviceId":"blitz","applicationId":"","deviceType":"sphero","eventType":"telemetry","commandType":"","format":"","name":"telemetry","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allEvents":false,"allCommands":"","allFormats":true,"x":141,"y":316,"z":"24f2588c.db0da8","wires":[["5736c20b.a8c93c"]]},{"id":"5736c20b.a8c93c","type":"debug","name":"","active":true,"console":"false","complete":"true","x":461,"y":297,"z":"24f2588c.db0da8","wires":[]},{"id":"ba1fabc2.45e058","type":"function","name":"","func":"var vx = msg.payload.d.vx;\nvar vy = msg.payload.d.vy;\nvar direction = \"asdfadf\";\nvar magnitude = Math.sqrt(vx*vx + vy*vy);\nvar heading = 180 / Math.PI * Math.atan2(vx, vy);\nif (!context.global.count) { context.global.count = 0; }\nif (magnitude > 20) {\n\tif (context.global.count % 2 == 0) {\n\t  direction = \"left\";\n\t} else {\n\t  direction = \"down\";\n\t}\n\tcontext.global.count++;\n\t//if (heading > 45 && heading <= 135) { direction = \"up\"; }\n\t//if (heading > 135 && heading <= 215) { direction = \"left\"; }\n\t//if (heading > 215 && heading <= 305) { direction = \"down\"; }\n\t//if (heading > 305 || heading <= 45) { direction = \"right\"; }\n\tvar topic = \"helpmenow/move/\"+direction;\n\tvar payload = 0.001 * magnitude / 80;\t\n\treturn { topic: topic, payload: payload }\n}\n\n","outputs":1,"x":347,"y":384,"z":"24f2588c.db0da8","wires":[["5736c20b.a8c93c","ede5dd88.121a2"]]},{"id":"ede5dd88.121a2","type":"mqtt out","name":"","topic":"","qos":"","retain":"","broker":"d91eed6.f26e11","x":548,"y":362,"z":"24f2588c.db0da8","wires":[]},{"id":"eb0ea09b.14f16","type":"ibmiot in","authentication":"boundService","apiKey":"6427582.f9bd8a8","inputType":"evt","deviceId":"bryan6plus","applicationId":"","deviceType":"","eventType":"accel","commandType":"","format":"","name":"accel","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":true,"x":160,"y":523,"z":"24f2588c.db0da8","wires":[["7f5c4d91.80a3b4"]]},{"id":"7f5c4d91.80a3b4","type":"debug","name":"","active":true,"console":"false","complete":"false","x":586,"y":513,"z":"24f2588c.db0da8","wires":[]},{"id":"5b9168b1.a46e98","type":"ibmiot in","authentication":"boundService","apiKey":"6427582.f9bd8a8","inputType":"evt","deviceId":"speedy","applicationId":"","deviceType":"","eventType":"telemetry","commandType":"","format":"","name":"nitro telemetry","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":"","allCommands":"","allFormats":true,"x":126,"y":711,"z":"24f2588c.db0da8","wires":[["712fe0ef.8ed02"]]},{"id":"3903d212.c6fc2e","type":"debug","name":"","active":true,"console":"false","complete":"false","x":421,"y":752,"z":"24f2588c.db0da8","wires":[]},{"id":"712fe0ef.8ed02","type":"function","name":"build location","func":"var lon = msg.payload.d.lon;\nvar lat = msg.payload.d.lat;\n\nvar data = {\n\tmedianSpeed: {\n\t\theading: 0,\n\t\tid: \"chariot\",\n\t\tlastKnownLocation: {\n\t\t\tdirection: \"\",\n\t\t\troute: \"-chariot\",\n\t\t\tlat: lat,\n\t\t\tlon: lon,\n\t\t\tneedsProcessing: false,\n\t\t\ttime: (new Date()).getTime()\n\t\t},\n\t\tlat: lat,\n\t\tlon: lon,\n\t\tspeed: 0,\n\t\ttimeSinceLocation: 1000\n\t},\n\tperc75Speed: {\n\t\theading: 0,\n\t\tid: \"chariot\",\n\t\tlastKnownLocation: {\n\t\t\tdirection: \"\",\n\t\t\troute: \"-chariot\",\n\t\t\tlat: lat,\n\t\t\tlon: lon,\n\t\t\tneedsProcessing: false,\n\t\t\ttime: (new Date()).getTime()\n\t\t},\n\t\tlat: lat,\n\t\tlon: lon,\n\t\tspeed: 0,\n\t\ttimeSinceLocation: 1000\n\t},\n\tperc25Speed: {\n\t\theading: 0,\n\t\tid: \"chariot\",\n\t\tlastKnownLocation: {\n\t\t\tdirection: \"\",\n\t\t\troute: \"-chariot\",\n\t\t\tlat: lat,\n\t\t\tlon: lon,\n\t\t\tneedsProcessing: false,\n\t\t\ttime: (new Date()).getTime()\n\t\t},\n\t\tlat: lat,\n\t\tlon: lon,\n\t\tspeed: 0,\n\t\ttimeSinceLocation: 1000\n\t}\n}\n\nreturn { payload: JSON.stringify(data) };","outputs":1,"x":302,"y":634,"z":"24f2588c.db0da8","wires":[["3903d212.c6fc2e","f4e125d6.0b1ed8"]]},{"id":"f4e125d6.0b1ed8","type":"mqtt out","name":"","topic":"iot-2/type/capmetro/id/chariot/evt/location/fmt/json","qos":"","retain":"","broker":"da494e70.25b6b","x":669,"y":605,"z":"24f2588c.db0da8","wires":[]}]